// 默认主题

$appBg: #f7f7f7;
// base color 原来variables.scss
$blue: #3760ff;
$light-blue: #3a71a8;
$red: #ff4949;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;
$titlebarBg: #4080c1;

$primary: $blue;
$secondary: #f7f8ff;
$error: $red;

// $blue: #3760ff; // 辅蓝1背景色，
$blue-1: #e4edff; // 辅蓝1背景色，
$blue-2: #eceef9; // 辅蓝2背景色，
$blue-3: #f7f7f7; // 辅蓝3背景色，
$dark-1: #333;
$dark-2: #666;
$dark-3: #999;
$dark-4: #ddd;
$dark-5: #f5f5f5;

$input-bg: #f7f8fa; //输入框常规背景
$input-color: #333; //输入框常规文字颜色

$input-required-bg: #fffaed; //必填 背景色
$input-required-color: #333; //必填 输入框常规文字颜色

$input-disabled-bg: #eaeaea; //保护背景 和交易标签非激活的背景色一致
$input-disabled-color: #999; //保护颜色

$placeholder-required-color: transparent; //必填 placeholder 颜色
$placeholder-color: transparent;

// $input-border-radius: 5px; //控件圆角 见 element-variables.scss $--border-radius-base
// $button-border-radius: 5px; //控件圆角 见 element-variables.scss $--border-radius-base

$table-header-bg: #fff; //表格头背景色 参考 el-table的border-card颜色
$table-min-height: 200px;
$el-message-max-width: 800px;
$el-message-max-height: 400px;
$form-item-margin-bottom: 5px; //控件底部距离

// sidebar
$menuText: #bfcbd9;
$menuActiveText: #ffffff; //#409EFF;
$menuActiveBg: #1f4a77; //#1890ff; //#263445;
$subMenuActiveText: #f4f4f5; // https://github.com/ElemeFE/element/issues/12951
$subMenuActiveBg: #1f4a77; // #1890ff; // #001528;

$menuBg: #2c65a2; // #304156;
$menuHover: #1f4a77; // #263445;

$subMenuBg: #2c65a2; // #1f2d3d;
$subMenuHover: #1f4a77; // #335f88;// #001528;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  appBg: $appBg;
  primary: $primary;
  titleBarBg: $titlebarBg;
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  menuActiveBg: $menuActiveBg;
  subMenuActiveText: $subMenuActiveText;
  subMenuActiveBg: $subMenuActiveBg;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
