<!--
 * @Author: your name
 * @Date: 2021-12-12 19:06:19
 * @LastEditTime: 2021-12-12 20:33:21
 * @LastEditors: Please set LastEditors
 * @Description: 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 * @FilePath: \vue-admin-template\src\views\learn\aaa001.html
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue基础</title>
</head>

<body>
    <ul>
        <li>demo</li>
    </ul>
    <div id="app">
        {{message}}
        <!-- 差值表达式，模板的语法 -->
        <!-- div元素内部，其他带有类似表达式的标签同样会被命中==产生修改效果 -->
        <div>{{demo1}}</div>
        <div>{{demo2}}</div>
        <!-- 在app元素中，设置demo标签 -->
        <!-- 结果分别为 -->
        <!-- 1111 -->
        <!-- { "show": "111", "show2": "222" } -->
        <div>{{demo2.show2}}</div>
        <!-- 这里可以认为是一个变量，加上具体的参数以后，就可以直接进行展示 -->
        <ul>
            <li>{{campus[0]}}</li>
            <!-- 直接展示c1带标记点 -->
            <!-- 相当于展示数组内容 -->
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            // 上面是id选择器
            data: {
                message: "demo",
                demo1: "1111",
                demo2: {
                    show: "111",
                    show2: "222"
                },
                // { "show": "111", "show2": "222" } 
                campus: ["c1", "c2", "c3", "c4", "c5", "c6"]
                // 这里认为是一个数组

            }
        })
    </script>

</body>

</html>