/* 自定义主题 */
.tfb-theme__custom {
  .tfb-layout-header,
  .tfb-layout-tags {
    background: #fff;
    color: #333;
    // box-shadow: 2px 2px 2px rgb(0 21 41 / 8%);
    box-shadow: 2px 2px 2px rgba(0, 21, 41, 0.08);
  }
  .el-menu,
  .el-menu-item,
  .el-menu .el-submenu__title {
    color: #fff;
  }
  .tfb-layout-sider {
    background-color: #080a09;
    background-image: linear-gradient(45deg, #080a09 0%, #2c87d3 100%);
    color: #fff;
  }
  .el-menu-item.is-active {
    color: #1890ff;
  }
  .el-menu-item:hover,
  .el-menu .el-submenu__title:hover {
    background: rgba(24, 144, 255, 0.5);
  }

  .el-menu--horizontal > .el-submenu.is-active .el-submenu__title {
    color: #fff;
  }
  .el-menu--horizontal .el-submenu:hover,
  .el-menu--horizontal .el-menu-item:hover,
  .el-menu--horizontal.el-menu .el-submenu__title:hover {
    color: rgba(0, 21, 41, 1);
    background: #fff;
  }

  .tfb-layout-header {
    background-color: #080a09;
    background-image: linear-gradient(225deg, #080a09 0%, #2c87d3 100%);
    color: #fff;
  }
  .tfb-layout-header-info .el-dropdown {
    color: #eee;
  }
}
